.main-container {
  padding: 20px;
  margin: 20px;
}

.search-btns {
  display: flex;
  justify-content: space-evenly;
}

.splash {
  width: 75%;
  text-align: center;
  margin: auto;
}

.splash-img {
    position: absolute;
    z-index: -1;
    top: 30vh;
    width: 80vw;
    height: 80vh;
    background-image: url("../img/dargon.gif");
    background-position: contain;
    background-repeat: no-repeat;
    animation: move-left 30s linear infinite;
}

#secret-btn {
  text-decoration: none;
  color: black;
  position: absolute;
}

.splish-img {
  position: absolute;
  z-index: -1;
  top: 10vh;
  width: 80vw;
  height: 80vh;
  background-image: url("../img/popsmock.gif");
  background-position: contain;
  background-repeat: no-repeat;
  animation: move-right 10s linear infinite;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 18px;
}



@keyframes move-right{
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes move-left{
  0% {
    transform: translateX(80%);
  }
  100% {
    transform: translateX(-10%);
  }
}