@{
  Layout = "_LibrarianLayout";
}

<h1>Books</h1>

@Html.ActionLink("Add a Book", "Create")
@Html.ActionLink("Add an author", "Create", "Authors")
@* @using(Html.BeginForm())
{
  @Html.TextBoxFor()
} *@

