@{
  Layout = "_Layout";
}

<h1>Dragon Library</h1>
  <p>@Html.ActionLink("Register", "Register", "Account", null, new { @class="btn btn-primary"})</p>
  <p>@Html.ActionLink("Login", "Login", "Account", null, new { @class="btn btn-primary"})</p>
  <p>@Html.ActionLink("O", "Create", "Role", null, new { @id = "secret-btn"})</p>


