@{
  Layout = "_Layout";
}

<h1>Dragon Library</h1>

@Html.ActionLink("Register", "Register", "Account", null, new { @class="btn btn-primary"})
@Html.ActionLink("Login", "Login", "Account", null, new { @class="btn btn-primary"})

@* @if(User.Identity.IsAuthenticated)
{
  <h4>Books On Loan to @User.Identity.Name</h4>
  @if(Model)
} *@